

  <div id="card-container" style="margin-top: 10%" >  
  <mat-card *ngFor="let vehicle of vehicles">
    <mat-card-header>        
        <img *ngIf=vehicle.brand mat-card-avatar src={{vehicle.brand.imageURL}} alt="Logo">
        <mat-card-title>{{vehicle.model}}</mat-card-title>
        <mat-card-subtitle>{{vehicle.year}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src={{vehicle.imageURL}} alt="Veiculo">
      <mat-card-content>
        <p>
          R$ {{vehicle.rentalValue}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Detalhes</button>        
      </mat-card-actions>
  </mat-card>
  </div>
  
