<div mat-dialog-content>
  <p>Reserva</p>

  <mat-form-field>
    <input matInput [min]="minDate" [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Escolha uma data" [(ngModel)]="data">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  
</div>
<div mat-dialog-actions> 
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>{{buttonAction}}</button>
</div>
