<nav *ngIf="nav.visible" class="navbar navbar-fixed-top navbar-dark bg-inverse" style="margin-bottom: 100px">
    <div class="container">
        <a class="navbar-brand">Locadora</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="">Veículos</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="rents">Reservas</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="about">Quem somos</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="contact">Contato</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="admin">Administração</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/login']">Sair</a></li>
        </ul>
    </div>
</nav>