<mat-card style="margin:2em;">

  <mat-card-title>
    Minhas reservas
  </mat-card-title>
  <div class="example-container mat-elevation-z8" style="margin-top: 100px">
    <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        Erro ao obter a lista de reservas
      </div>
    </div>

    <mat-table #table [dataSource]="dataSource" class="example-table" matSort matSortActive="created" matSortDisableClear matSortDirection="asc">

      <ng-container matColumnDef="vehicleId">
        <mat-header-cell *matHeaderCellDef>Veículo</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.vehicle.model }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>date</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.date }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row; let i=id;">
          <button mat-icon-button (click)="delete(row)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [length]="resultsLength" [pageSize]="30">
    </mat-paginator>
  </div>
</mat-card>
