<h5>Login</h5>
<div class="row">

  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="onSignin()">

    <div class="row">
      <div class="input-field col s12">
        <input id="username" type="text" class="validate" formControlName="username" [class.invalid]="form.controls['username'].touched && !form.controls['username'].valid">
        <label for="username" data-error="Usuário inválido">
          Usuário
        </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" formControlName="password" [class.invalid]="form.controls['password'].touched && !form.controls['password'].valid">
        <label for="password" data-error="Senha é obrigatorio">
          Senha
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn waves-effect waves-light" type="submit" [disabled]="!form.valid">
          Login
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
          <button class="btn waves-effect waves-light" (click)="register()">
            Registre-se
            <i class="material-icons right">register</i>
          </button>
        </div>
      </div>
      
  </form>
</div>